<web-app>

<!-- LoginServlet -->

<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.library.servlet.LoginServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
</servlet-mapping>

<!-- MenuServlet -->

<servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.library.servlet.MenuServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/menu</url-pattern>
</servlet-mapping>

<!-- AddBookServlet -->

<servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.library.servlet.AddBookServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/addBook</url-pattern>
</servlet-mapping>

<!-- ViewBookServlet -->

<servlet>
    <servlet-name>ViewBookServlet</servlet-name>
    <servlet-class>com.library.servlet.ViewBookServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ViewBookServlet</servlet-name>
    <url-pattern>/viewBooks</url-pattern>
</servlet-mapping>

<!-- UpdateBookServlet -->

<servlet>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.library.servlet.UpdateBookServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/updateBook</url-pattern>
</servlet-mapping>

<!-- LogoutServlet -->

<servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.library.servlet.LogoutServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
</servlet-mapping>

<!-- DeleteBookServlet -->

<servlet>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.library.servlet.DeleteBookServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
</servlet-mapping>

</web-app>