button.cross{
    background-color: black;
    color: red;
    font-size: medium;
}

div.tag{
    background-color: black;
    color: yellow;
    border: 3px solid black;
    border-radius: 5px;
    width: fit-content;
    margin: 1%;
    padding: 0.40%;
    display: inline-flex;
    align-items: center ;
}

div.tag-box{
    border : 4px solid salmon;
    border-radius : 5px;
    min-height: 150px;
}