# Eclipse
.classpath
.project
.settings/

# Build directories
build/
bin/
target/

# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# IDE specific files
.metadata
.recommenders
*.iml
.idea/

# OS specific
.DS_Store
Thumbs.db
