div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
   text-align: center;
}
form{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    margin-bottom: 2%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td:not(:last-child){
    border: 2px solid;
    padding: 10px;
    text-align: center;
}
.buttonCell{
    border: none !important;
    display: flex;
    gap: 10px;
    padding: 15px;
}
